@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
}

#map-container {
  cursor: grab;
  height: 90vh;
  overflow: hidden;
  background: black;
}

#map-container svg {
  height: 90vh;
}