@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
  color: white;
}

/* landing page */
.hover-grow {
  transition: transform 0.3s ease-in-out;
}
.hover-grow:hover {
  transform: scale(1.05);
}
