@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
  overflow: hidden;
}

#map-container {
  cursor: grab;
  height: 96vh;
  overflow: hidden;
  background: black;
}

#map-container svg {
  width: 100%;
  height: 100%;
}